<form method="POST" action="/articles/{{urltitle}}?_method=PUT">
  <h1>EDIT PAGE</h1>
  <h1>
    title:<br>
    <input type="text" name="title" placeholder="{{title}}">
  </h1>
  <h1>
    author:<br>
    <input type="text" name="author" placeholder="{{author}}">
  </h1>
  <h1>
    body:<br>
    <input type="text" name="body" placeholder="{{body}}">
  </h1>
  <input type="submit">
</form>