<form action="/articles" method="post">
  <h1>
    Title:<br>
    <input type="text" name="title">
  </h1>
  <h1>
    Author:<br>
    <input type="text" name="author">
  </h1>
  <h1>
    Body:<br>
    <input type="text" name="body">
  </h1>
  <input type="submit">
</form>