{{{messages}}}
<form action="/products" method="post">
  <h1>
    Name:<br>
    <input type="text" name="name">
  </h1>
  <h1>
    Price:<br>
    <input type="text" name="price">
  </h1>
  <h1>
    Inventory:<br>
    <input type="text" name="inventory">
  </h1>
  <input type="submit">
</form>