<form method="POST" action="/products/{{id}}?_method=PUT">
  <h1>EDIT PAGE</h1>
  <h1>
    Name:<br>
    <input type="text" name="name" placeholder="{{name}}">
  </h1>
  <h1>
    Price:<br>
    <input type="text" name="price" placeholder="{{price}}">
  </h1>
  <h1>
    Inventory:<br>
    <input type="text" name="inventory" placeholder="{{inventory}}">
  </h1>
  <input type="submit">
</form>